@charset "UTF-8";

body {
    background-color: rgb(70, 142, 236);
    font: normal 16pt Arial;
}

header {
    color: #fff;
    text-align: center;
}   
section {
    background: #fff;

    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
    box-sizing: border-box;

    padding: 15px;
    margin: auto;
    
    max-width: 100%;
    width: 100%;
    height: auto;
}

footer {
    color: #fff;
    text-align: center;
    font-style: italic;
}

p.verify {
    text-align: center;
}

@media (max-width: 599px) {
    section {
        width: 100%;
        padding: 15px 5px;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    section {
        width: 80%;
        max-width: 600px;
        padding: 15px 20px;
    }
}

@media (min-width: 900px) {
    section {
        width: 500px;
        padding: 15px;
    }
}